<%= javascript_include_tag "jquery-1.3.2" %>
<h1>Life-line.me</h1>

<%=RPXNow.embed_code('lifeline',rpx_token_sessions_url)%>

<h1>Real time activity</h1>

<table id="activity">
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th>Title</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>

  <tbody id="ticker" onmouseover="over=true;return false;" onMouseout="over=false;return false;" >
  </tbody>
</table>

<table id="activity">
  <tbody id="eventListInvisContainer" style="display:none">
   <%= render :partial => "events/list" %>
   <%= render :partial => "events/list" %>
   <%= render :partial => "events/list" %>
   <%= render :partial => "events/list" %>
  </tbody>
</table>

<table id="activity">
<tbody id="bucket" style="display:none"> </tbody>
</table>

<script type="text/javascript">
<!--
   copyTickerEvents();
   var over = false;
   function copyTickerEvents()
   {
     $('#eventListInvisContainer > tr').appendTo("#bucket");
      if( !over )         
         $('#bucket > tr:eq(0)').hide().prependTo("#ticker").slideDown(150);
      $('#ticker > tr:eq(30)').slideUp(150);
      $('#ticker > tr:eq(31)').remove();
      setTimeout( "copyTickerEvents();", 500 );
   }
//-->
</script>
