<% title "Edit Profile" %>
<h1>Edit Profile</h1>

<p> 
<%= link_to image_tag(@user.gravatar_url, :border => 0), "http://www.gravatar.com", :popup => true %>
</p> 

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
