<% title "Edit Profile" %>
<h1>Edit Profile</h1>

<div id="edit_profile">
  <%= link_to image_tag(@user.gravatar_url, :border => 0),
    "http://www.gravatar.com", :popup => true %>

<% form_for(@user) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Save' %>
    <%= link_to 'Cancel', user_path(@user) %>
  </p>
<% end %>
</div>
