<% title "User Search" %>

<h1>User Search</h1>
<div id="search_text">
  <p>View other people's lifelines and compare them to your own!</p>
  <p>Who do you want to search for?</p>
</div>

<% form_tag(users_path, :method => :get) do -%>
  <input name="query" type="text" value="<%=params[:query]%>" />
  <input type="submit" value="Search" />
<% end %>
<br/>
<table cellspacing="0" style="width:610px;margin:0px;">
<% @users.each do |user| %>
  <tr style="background:#eee;">
    <td style="width:70px;border-bottom: 4px solid #cc9">
      <%= image_tag user.gravatar_url(:size => 60) %>
    </td>
    <td style="width:410px;border-bottom: 4px solid #cc9">
      <%= link_to user.username, user %>
      <br/>
      <%=h user.name %>
      <% if user.name %>
	<br/>
      <% end %>
      <%=h user.email %>
    </td>
    <td style="width:100px;border-bottom: 4px solid #399">
    <% if !session[:user_id].nil? %>
       <% if @current_user.id == user.id %>
         You!
       <% elsif !@current_user.is_friend?(user) %>
        <%= link_to "<span class='ui-button ui-state-hover ui-corner-all'>Follow</span>", friendships_path(:friend_id => user), :method => :post %>
       <% else @current_user.is_friend?(user)  %>
         Following
       <% end %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>
<p>
  <%= will_paginate @users %>
</p>
