<%= javascript_include_tag "jquery-1.3.2" %>
<% title "User Search" %>

<h1>User Search</h1>
<div id="search_text">
  <p>View other people's lifelines and compare them to your own!</p>
  <p>Who do you want to search for?</p>
</div>

<% form_tag(users_path, :method => :get) do -%>
  <input name="query" type="text" value="<%=params[:query]%>" />
  <input type="submit" value="Search" />
<% end %>

<table id="results">
  <tr>
    <th style="width:80px"></th>
    <th style="width:200px">Username</th>
    <th style="width:200px;">Name</th>
    <th style="width:200px">Email</th>
    <% if session[:user_id] %>
      <th></th>
    <% end %>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= image_tag user.gravatar_url %></td>
    <td><%= link_to user.username, user %></td>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
    <% if !session[:user_id].nil? %>
       <td>
       <% if @current_user.id == user.id %>
         You!
       <% elsif !@current_user.is_friend?(user) %>
         <%= link_to "Follow", friendships_path(:friend_id => user),
           :method => :post %>
       <% else @current_user.is_friend?(user)  %>
         Following
       <% end %>
       </td>
    <% end %>
  </tr>
<% end %>
</table>

<p>
  <%= will_paginate @users %>
</p>

<div id="activity">
   <%= render :partial => "events/list" %>
</div>

<dif id="test">
   <h1>Real time activity</span></h1>
   <ul id="ticker" onmouseover="over=true;return false;" onMouseout="over=false;return false;" >
      <li></li>
      <li style="visibility:hidden"></li>
   </ul>
   <p></p>
   <ul id="eventListInvisContainer" style="display:none">
     <li>One</li>
     <li>Two</li>
     <li>Three</li>
     <li>Four</li>
     <li>Five</li>
     <li>Six</li>
     <li>Seven</li>
     <li>Eight</li>
     <li>Nine</li>
     <li>Ten</li>
   </ul>
   <div id="bucket" style="display:none"> </div>
</div>
<script type="text/javascript">
<!--
   copyTickerEvents();
   var over = false;
   function copyTickerEvents()
   {
      $('#eventListInvisContainer > li').appendTo("#bucket");
      if( !over )         
         $('#bucket > li:eq(0)').hide().prependTo("#ticker").slideDown(150);
      $('#ticker > li:eq(30)').slideUp(150);
      $('#ticker > li:eq(31)').remove();
      setTimeout( "copyTickerEvents();", 500 );
   }
//-->
</script>
<!-- <a href="#" onclick="copyTickerEvents();">CLICKY</a> -->
</div>
