<% import_javascript(:defaults,
                     "timeline_js/timeline-api.js",
                     "calendar_date_select/calendar_date_select.js")%>
<% title "#{@user.username}'s timeline" %>

<% if @user.id == session[:user_id] %>
  <%= render :partial => "events/add" %>
<% end %>

<div id="profile">
  <%# image_tag @user.gravatar_url %>
  <% if session[:user_id] && session[:user_id] == @user.id %>
  <%= link_to "Edit Profile", edit_user_path(session[:user_id]) %>
  <% end %>
  <p> 
    <b>Username:</b> <%=h @user.username %>
  </p>
  <p>
    <b>Name:</b> <%=h @user.name %>
  </p>
  <p> 
    <b>Email:</b> <%=h @user.email %>
  </p>
</div>

<div id="following">
  <%= render :partial => "friendships/following" %>
</div>

<div id="clear"></div>

<div id="lifeline"></div>

<div id="controls">
  <%# render :partial => "events/controls" %>
</div>

<script>
loadEventsForUser(<%= @user.id %>);
</script>
