<%= link_to 'Logout', {:controller => "sessions", :action => "destroy"} %>
<p>
<%= image_tag @user.gravatar_url %>
</p>

<div id="lifeline"></div>
<div id="favorites">
  <% for fav in @user.friends %>
    <%= check_box_tag("favs[]", fav.id, false) %><%= fav.username %>
  <% end %>
</div>

<div id="profile">
<p> 
  <b>Username:</b>
  <%=h @user.username %>
</p>
<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>
<p> 
  <b>Email:</b>
  <%=h @user.email %>
</p>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
