<<<<<<< HEAD:app/views/users/show.html.erb
<div id="gravatar">
  <%= image_tag @user.gravatar_url %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
  <%= link_to 'Logout', {:controller => "sessions", :action => "destroy"} %>
  <p> 
    <b>Username:</b> <%=h @user.username %>
  </p>
  <p>
    <b>Name:</b> <%=h @user.name %>
  </p>
  <p> 
    <b>Email:</b> <%=h @user.email %>
  </p>
</div>

<div id="lifeline"></div>

<%= render :partial => "events/add" %>
