<div id="gravatar">
  <%= image_tag @user.gravatar_url %>
  <%= link_to "Edit Profile", edit_user_path(session[:user_id]) %>
  <p> 
    <b>Username:</b> <%=h @user.username %>
  </p>
  <p>
    <b>Name:</b> <%=h @user.name %>
  </p>
  <p> 
    <b>Email:</b> <%=h @user.email %>
  </p>
</div>

<div id="lifeline"></div>
<div id="favorites">
  <% for fav in @user.friends %>
    <%= check_box_tag("favs[]", fav.id, false) %><%= fav.username %>
  <% end %>
</div>

<div id="controls">
  <%= render :partial => "events/controls" %>
</div>

<% if @user.id == session[:user_id] %>
  <%= render :partial => "events/add" %>
<% end %>
