<% import_javascript(:defaults,
                     "timeline_js/timeline-api.js",
                     "calendar_date_select/calendar_date_select.js")%>
<% title "#{@user.username}'s timeline" %>

<% if @user.id == session[:user_id] %>
  <%= render :partial => "events/add" %>
<% end %>

<div id="topright">
<div id="profile" class="ui-widget-content ui-corner-all">
    <%= link_to image_tag(@user.gravatar_url, :border => 0),
        "http://www.gravatar.com", :popup => true %>
  <table>
  <tr><td align="right"><b>Username:</b></td><td><%=h @user.username %></td></tr>
  <tr><td align="right"><b>Name:</b></td><td><%=h @user.name %></td></tr>
  <tr><td align="right"><b>Email:</b></td><td><%=h @user.email %></td></tr>
  </table>
  <% if session[:user_id] && session[:user_id] == @user.id %>
    <%= link_to "Edit Profile", edit_user_path(session[:user_id]) %>
  <% end %>
</div>

  <div id="following">
    <%= render :partial => "friendships/following" %>
  </div>
</div>

<div id="clear"></div>

<div id="lifeline"></div>

<div id="controls">
  <%# render :partial => "events/controls" %>
</div>

<script>
  document.forms[0].reset();
  loadEventsForUser(<%= @user.id %>);
</script>
