<div id="event">
  <h2> Add a new event to your lifeline</h2>
  <script>loadEvent(<%= @data %>);</script>
  <p id="errors"><%= @event.errors.full_messages %></p>
  <% form_remote_for @event do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :start_date %>
      <%= f.calendar_date_select :start_date, :popup => "force" %>
    </p>
    <p>
      <%= f.label :end_date %>
      <%= f.calendar_date_select :end_date, :popup => "force" %>
    </p>
    <p>
      <%= f.label :content %>
      <%= f.text_area :content, :rows => 2 %>
    </p>
    <p>
      <%= f.label :private, "Make event private" %>
      <%= f.check_box :private %>
    </p>

    <p class="buttons">
      <%= f.submit "Add" %>
      <%= link_to_function "Clear", "$('new_event').reset()" %>
    </p>
  <% end %>
</div>
