<div id="event">
  <h1> Edit this event </h1>
  <p id="errors"><%= @event.errors.full_messages %></p>
  <% form_remote_for @event do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :start_date %>
      <%= f.calendar_date_select :start_date, :popup => "force" %>
    </p>
    <p>
      <%= f.label :end_date %>
      <%= f.calendar_date_select :end_date, :popup => "force" %>
    </p>
    <p>
      <%= f.label :content %>
      <%= f.text_area :content, :rows => 3 %>
    </p>
    <p>
      <%= f.label :private, "Make event private" %>
      <%= f.check_box :private %>
    </p>

    <%= f.submit "Save" %>
    <%= link_to_remote "Cancel", :url => new_event_path %>
  <% end %>
</div>
