<div id="event">
  <h2> Edit this event </h2>
  <% form_remote_for @event do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :start_date %>
      <%= f.calendar_date_select :start_date, :popup => "force",
        :time => false, :buttons => :false %>
    </p>
    <p>
      <%= f.label :end_date %>
      <%= f.calendar_date_select :end_date, :popup => "force", :time => false %>
    </p>
    <p>
      <%= f.label :content, "Details" %>
      <%= f.text_area :content, :rows => 2 %>
    </p>
    <p>
      <%= f.label :private, "Make event private" %>
      <%= f.check_box :private %>
    </p>

    <p class="buttons">
      <%= f.submit "Save" %>
      <%= link_to_remote "Cancel", :url => new_event_path %>
    </p>
  <% end %>
</div>
