<% for vent in @latest %>
    <tr>
      <td><%= image_tag vent.user.gravatar_url(:size => 40) %></td>
      <td><%= link_to vent.user.username, vent.user %></td>
      <td><%=h vent.title %></td>
      <td><%=h vent.start_date.to_s %></td>
      <td><%=h vent.end_date.to_s %></td>
    </tr>
<% end %>
