<script>loadEvent(<%= @data %>);</script>
  <h2> Following </h2>
  <% for friendship in @user.friendships %>
     <%= check_box_tag ("friends[]", friendship.id, friendship.selected,
       :onclick => remote_function(:before => "eventSource.clear()",
       :update => 'following', :url => {:action => 'update_friendship',
         :id => friendship})) %>
     <% if !friendship.friend.name.nil? %>
       <%= friendship.friend.name %> (<%= friendship.friend.username %>)
     <% else %>
       <%= friendship.friend.username %>
     <% end %>
  <% end %>
