<b>Following</b>
<% for friendship in @user.friendships %>
  <div style="height:25px;padding:5px;background:#eee;margin-bottom:5px;border: 1px solid #ccc;">
    <div style="width:280px;display:inline-block">
    <%= check_box_tag("friends[]", friendship.id, friendship.selected,
      :onclick => remote_function( 
        :url => friendship_path(friendship), :method => :put)) %>
    <% if !friendship.friend.name.nil? %>
      <%= friendship.friend.name %>
      (<%=link_to friendship.friend.username, user_path(friendship.friend.id)%>)
    <% else %>
      <%= link_to friendship.friend.username, user_path(friendship.friend.id) %>
    <% end %>
    </div>
    <div style="display:inline-block">
    <%= link_to_remote "<span class='ui-button ui-state-hover ui-corner-all'>Stop Following</span>", :url => friendship_path(friendship), :method => :delete %>
    </div>
  
  </div>
<% end %>
