<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= yield :import_javascript %>
  <%= stylesheet_link_tag 'lifeline', 'calendar_date_select/default.css' %>
  <title><%= yield :title %></title>
</head>
<body onload='onLoad(<%= @data %>);' onresize='onResize();'>

  <div id="content">
    <div id="nav">
      [ <%= link_to "Home", user_path(session[:user_id]) %> |
        <%= link_to "Search", users_path %> |
        <%= link_to "Logout", {:controller => :sessions, :action => :destroy}%> 
      ]
    </div>
    <%= yield %>
  </div>

</body>
</html>
