<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "timeline/src/webapp/api/timeline-api.js" %>
  <title>Users: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'lifeline' %>
</head>
<body onload='onLoad(<%= @data %>);' onresize='onResize();'>

  <p>[
     <%= link_to "User", { :controller => :users } %> |
     <%= link_to "Events", { :controller => :events, :action => :new } %>
     ]</p>
  <p style="color: green"><%= flash[:notice] %></p>
  <%= yield %>

</body>
</html>
